@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif&family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root{
 /*========== Font and typography ==========*/

 --title-font: "Inika", serif;
 --body-font: "Jacques Francois", serif;
 --subtitle-font: "Inter", sans-serif;
 --quote-font: "MuseoModerno", sans-serif;
 --main--font: "Poppins", sans-serif;


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: #FFFCF2;
 }
 
}

/*========== HEADER ==========*/
.header {
    position: relative;
    color: white; /* Text color */
    overflow: hidden; /* Hide any overflow content */
    height: 100vh;
    
}
.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}


.header__container {
    max-width: 1200; /* Maximum width of the container */
    margin: 0 auto; /* Center align the container */
    position: relative; /* Ensure relative positioning */
    height: 100%;
}



/* Styles for the alert section */
.header__alert {
    text-align: center;
    color: #fff; /* Text color of the alert */
    padding: 5px 0; /* Padding around the alert */
    z-index: 1; /* Ensure it's above the image */
    position: relative; /* Position relative to overlap correctly */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: var(--subtitle-font);
    font-size: 12px;
    font-weight: 300;
}

/* Style for the hr element */
hr {
    border: none; /* Remove default border */
    border-top: 1px solid #ddd; /* Style of the horizontal rule */
    margin: 10px 0; /* Spacing above and below the hr */
}

/* Styles for the content */
.header__content {
    padding: 20px 5px; /* Padding around the content */
    color: white; /* Text color */
    position: relative; /* Ensure correct layering */
    margin: 0 50px;
    
}

/* Styles for the list */
.header__list {
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Center align items horizontally */
    font-family: var(--subtitle-font);
    font-size: 12px;
    font-weight: 300;
}

.header__link-1{
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    padding-right: 45px;

}



/* Styles for links */
.header__link {
    color: white; /* Text color of links */
    text-decoration: none; /* Remove underline */
    padding: 5px 5px; /* Padding around links */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect on links */
.header__link:hover {
    color: black;
    cursor: pointer;
}

/* Styles for the shopping cart icon */
.header__icon {
    font-size: 14px; /* Icon size */
        
}

.header__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20rem;
    font-weight: lighter;
    font-style: italic;
}
.header__bottom p{
 font-family: var(--body-font);
 font-size: 38px;
 text-align: center;  
 padding-bottom: 20px; 
}

.header__bottom button{
    border: 1px solid #fff;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    font-family: var(--body-font);
    text-transform:uppercase ;
    font-size: 12px;
}

.header__quote{
    font-family: var(--quote-font);
    text-align: center;
    margin: 4rem 0;
    font-size: 28px;
    font-weight: lighter;
}

/* Toggle and Close Buttons */
.nav__toggle,
.nav__close {
  display: none;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__menu.show-menu {
  display: block;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 6%, 0.3);
  backdrop-filter: blur(40px);
  --webkit-backdrop-filter: blur(40px);
  top: 0;
  left: 0;
  z-index: -1;
}

/*========== ESSENTIALS ==========*/
.essentials {
    padding: 0 30px;
    margin: 10px auto;
    max-width: 1200px;
}

/* Header styling */
.essentials h3 {
    font-size: 20px;
    font-family: var(--main--font);
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
    color: black;
}

/* Horizontal rule styling */
.essentials hr {
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

/* Container grid styling */
.essentials__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Content styling */
.essentials__content {
    flex: 1 1 300px; /* Ensures each content item can grow and shrink, but has a base width of 300px */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Card styling */
.essentials__card {
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 5px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Card image styling */
.essentials__image {
    max-width: 100%;
    height: 100%;
}

/* Data styling */
.essentials__data {
    margin: 10px 2px;
    display: flex;
    justify-content: space-between;
}

.data__name {
    font-size: 13px;
    font-family: var(--main--font);
    font-weight: 200;
    margin: 0;
    color:black;
}

.data__price {
    font-size: 13px;
    font-family: var(--main--font);
    color: black;
    margin: 5px 0;
}

/* Description styling */
.essentials__description {
    font-size: 13px;
    text-align:left ;
    color: #777;
    font-family: var(--main--font);
    margin-bottom: 3px;
    font-weight: lighter;
}

/* Button styling */
.essentials__btn {
    background-color: #989F8E;
    color: #fff;
    border: none;
    padding: 12px 145px;
    font-size: 11px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-family: var(--main--font);
}

/*========== ABOUT ==========*/
.about {
    padding: 40px 30px;
    margin: 20px auto;
    max-width: 1200px;
}

/* Container styling */
.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
}
    
.about hr {
        margin-bottom: 15px;
    }


/* Image styling */
.about__image {
    max-width: 50%;
    height: 50%;
}

.about__img {
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Data styling */
.about__data {
    flex: 2;
    max-width: 600px;
}

.about__data h3 {
    font-size: 22px;
    font-family: var(--main--font);
    font-weight: lighter;
    margin-bottom: 15px;
    color: black;
}

.about__data p {
    font-size: 12px;
    line-height: 1.6;
    color: black;
    font-family: var(--main--font);
    font-weight: lighter;
    text-align: justify;
}

.about__data p br {
    margin: 10px 0; /* Adds spacing between lines of text when <br> is used */
}

/* Learn More heading styling */
.about h4 {
    font-size: 10x;
    font-family: var(--main--font);
    font-weight: lighter;
    text-decoration: underline;
    margin-top: 60px;
    color: black;
}

/*========== ESSENTIALS ==========*/
.best {
    padding: 0 30px;
    margin: 10px auto;
    max-width: 1200px;
}

/* Header styling */
.best h3 {
    font-size: 20px;
    font-family: var(--main--font);
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
    color: black;
}

/* Horizontal rule styling */
.best hr {
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

/* Container grid styling */
.best__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Content styling */
.best__content {
    flex: 1 1 300px; /* Ensures each content item can grow and shrink, but has a base width of 300px */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Card styling */
.best__card {
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 5px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Card image styling */
.best__image {
    max-width: 100%;
    height: 100%;
}

/* Data styling */
.best__data {
    margin: 10px 2px;
    display: flex;
    justify-content: space-between;
}

.best__name {
    font-size: 13px;
    font-family: var(--main--font);
    font-weight: 200;
    margin: 0;
    color:black;
}

.best__price {
    font-size: 13px;
    font-family: var(--main--font);
    color: black;
    margin: 5px 0;
}

/* Description styling */
.best__description {
    font-size: 13px;
    text-align:left ;
    color: #777;
    font-family: var(--main--font);
    margin-bottom: 3px;
    font-weight: lighter;
}

/* Button styling */
.best__btn {
    background-color: #989F8E;
    color: #fff;
    border: none;
    padding: 12px 145px;
    font-size: 11px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-family: var(--main--font);
}

/*========== ABOUT ==========*/
.discount {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

/* Image styling */
.discount__img {
    position: absolute;
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Data styling */
.discount__data {
    margin-top: 160px;
    max-width: 800px;
}

.discount__data h2 {
    position: relative;
    padding-right: 15px;
    font-family: var(--subtitle-font);
    font-size: 32px;
    margin-bottom: 40px;
    color: #FFF;
}

.discount__data p {
    position: relative;
    font-size: 22px;
    font-family: var(--subtitle-font);
    color: #fff;
    font-weight: 500;
    -webkit-text-stroke: 0.5px #333;
}

/* Input and button styling */
.discount__d {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 7px;
    max-width: 800px;
    margin: 0 auto;
}

.discount__input {
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #fff;   
    font-family: var(--subtitle-font);
    width: 100%;
    padding-right: 25px;
    padding-left: 3px;
    margin: 5px 0;
    box-sizing: border-box;
}
.discount__input input{
    border: none;
    outline: none;
}

input::placeholder{
    color: #fff;
}

.discount__button {
    width: 80%;
    padding: 6px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 12px;
    color: black;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.discount__button:hover {
    background-color: #babcbd;
}

/*========== FOOTER ==========*/

.footer {
    background-color:#1D1C1A;
    color: #fff;
    position: relative;
    
  }
  
  .footer__container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
    padding: 30px 160px;
  }
  
  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    
  }
  
  .footer__logo {
    font-size: 16px;
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15rem;
    color: #fff;
  }
  
  .footer__description {
    color: #fff;
    font-family: var(--subtitle-font);
    font-weight: 300;
    font-size: 10px;
    line-height: 1.4;
   
  }
  
  .footer__title {
    font-size: 14px;
    font-family: var(--subtitle-font);
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: var(--subtitle-font);
    font-size: 12px;
    transition: color 0.3s ease;
  }
  
  .footer__link:hover {
    color: #fff;
  }
  
  .footer__information {
    color: #fff;
    font-family: var(--subtitle-font);
    font-weight: 100;
    font-size: 10px;
    line-height: 1.5;
  }
  
  .footer__social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
  }
  
  .footer__social-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .footer__social-link:hover {
    color: #fff;
  }
  
  .footer__copy {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 12px;
  }



  /*responsive design*/

  @media (max-width: 768px) {
    /* Header */
    .header {
        height: auto; /* Adjust height to fit content */
    }
    
    .header__img {
        height: auto; /* Reduce height of image */
    }

    .header__container {
        max-width: 100%; /* Full width */
        height: auto; /* Adjust height to fit content */
        padding: 10px;
    }

    .header__alert {
        font-size: 10px; /* Adjust font size */
        padding: 3px 0; /* Adjust padding */
    }

    .header__bottom p {
        font-size: 28x;
        padding: 0;
    }

    .header__content {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: var(--body-color);
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(20px);
    width: 40%;
    height: 100%;
    padding: 3rem 3rem;
    transition: right 0.4s;
    }

    .header__content.show-menu{
        display: flex;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        font-size: 10px; /* Adjust font size */
    }

    .nav__close{
        position: absolute;
    }

    .nav__close,
    .nav__toggle {
      padding-top: 10px;
      top: 0;
      right:0;
      display: block;
      color: var(--title-color);
    }

    .show-menu {
        right: 0;
      }

      .blur-header::after {
        content: "";
        position: absolute;
        width: 1000%;
        height: 100%;
        background-color: hsla(0, 0%, 6%, 0.2);
        backdrop-filter: blur(40px);
        --webkit-backdrop-filter: blur(40px);
        top: 0;
        left: 0;
        z-index: -1;
        margin: 0;
        padding: 0;
      }

    /* Essentials */
    .essentials {
        padding: 0 15px; /* Adjust padding */
    }

    .essentials h3 {
        font-size: 16px; /* Adjust font size */
    }

    .essentials hr {
        margin-bottom: 10px; /* Adjust margin */
    }

    .essentials__container {
        display: flex;
        flex-direction: column;
    }

    .essentials__content {
        flex: 1 100%; /* Full width for each content item */
        margin: 0;
    }

    .essentials__card {
        padding: 5px; /* Adjust padding */
    }
    .essentials__image{
        max-width: 100%;
    }

    .essentials__btn {
        padding: 10px 200px; /* Adjust padding */
        font-size: 10px; /* Adjust font size */
    }

    /* About */
    .about {
        padding: 30px; /* Adjust padding */
    }

    .about__container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
    }

    .about__image {
        max-width: 100%; /* Full width image */
        height: auto; /* Maintain aspect ratio */
        text-align: center;
    }

    .about__data {
        max-width: 100%; /* Full width for data section */
        margin-top: 20px; /* Adjust margin */
    }

    .about__data h3 {
        font-size: 18px; /* Adjust font size */
    }

    .about__data p {
        font-size: 14px; /* Adjust font size */
    }

    .about h4 {
        font-size: 14px; /* Adjust font size */
        margin-bottom: 10px;
    }

    .best__btn {
        padding: 10px 200px; /* Adjust padding */
        font-size: 10px; /* Adjust font size */
    }

    /* Discount */
    .discount {
        padding: 20px; /* Adjust padding */
    }

    .discount__img {
        height: 50%; /* Reduce image height */
    }

    .discount__data {
        margin-top: 20px; /* Adjust margin */
        max-width: 100%; /* Full width for data section */
    }

    .discount__data h2 {
        font-size: 24px; /* Adjust font size */
    }

    .discount__data p {
        font-size: 18px; /* Adjust font size */
    }

    .discount__d {
        flex-direction: column; /* Stack items vertically */
    }

    .discount__input {
        padding: 10px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */
    }

    .discount__button {
        width: 100%; /* Full width button */
        padding: 10px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */
    }

    /* Footer */
    .footer {
        padding-top: 10px; /* Adjust padding */
    }

    .footer__container {
        flex-direction: column; /* Stack items vertically */
        padding: 20px; /* Adjust padding */
    }

    .footer__content {
        grid-template-columns: repeat(4, 1fr); /* Single column layout */
    }

    .footer__logo {
        margin-right: 0; /* Remove right margin */
       
    }

    .footer__description{
        padding-bottom: 10px;
    }

    .footer__description,
    .footer__title,
    .footer__link {
        font-size: 12px; /* Adjust font size */
    }

    .footer__social {
        flex-direction: row; /* Stack social icons vertically */
    }
}
  


